body {
    font-family: sans-serif;
    text-align: center;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}